:root {
  --main-blue: rgb(0, 255, 213);
  --dark-orange: rgb(137, 91, 0);
  --light-orange: #e79a00;
  --very-light-orange: #ecc16c;
}

.permanent-marker-regular {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  margin: 0;
  font-family: 'acme';
  color: var(--dark-orange);
}

body {
  margin: 0;
  background-color: var(--very-light-orange);
}

nav {
  background-color: var(--main-blue);
  color: var(--main-orange);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 5px var(--dark-orange);
}

nav p {
  margin: 0;
}

.logo {
  height: 75px;
  width: auto;
  margin: 20px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  font-family: 'Acme';
  margin: 20px;
  font-size: 1.75rem;
}

nav a {
  color: var(--dark-orange);
  text-decoration: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  animation: explosion 1s linear 0s 1;
}

.banner h1 {
  position: absolute;
  z-index: 5;
  font-size: 5rem;
  text-shadow: 5px 5px 5px var(--dark-orange);
  rotate: -10deg;
  color: var(--light-orange)
}

.mug {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 20%;
}

.circle {
  color: var(--main-blue);
  height: 100%;
  width: 50%;
  z-index: 0;
  font-size: 20rem;
  text-shadow: 5px 5px 5px var(--dark-orange);
  animation: starburst-rotate 8s infinite 0s linear;
}

@keyframes starburst-rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }

}

@keyframes explosion {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
