:root {
  --main-blue: rgb(0, 255, 213);
  --dark-orange: rgb(137, 91, 0);
  --light-orange: #e79a00;
  --very-light-orange: #ecc16c;
}

.redwood-app {
  height: 100vh;
}

@font-face {
  font-family: 'Super Magic';
  src: url(C:\Users\lumbe\Documents\Projects\dopemugs\web\public\Fonts\SuperMagic-L3XVn.ttf);
}

.permanent-marker-regular {
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  font-style: normal;
}

html {
  margin: 0;
  font-family: 'Super Magic';
  color: var(--dark-orange);
}

body {
  margin: 0;
  background-color: var(--very-light-orange);
}

.color-block1 {
  height: 100vh;
  width: 25%;
  background-color: var(--dark-orange);
  position: absolute;
  z-index: 7;
}

.color-block2 {
  height: 100vh;
  width: 50%;
  background-color: var(--light-orange);
  position: absolute;
  z-index: 5;
}

.color-block3 {
  height: 100vh;
  width: 75%;
  background-color: var(--main-blue);
  position: absolute;
}

nav {
  background-color: var(--very-light-orange);
  color: var(--main-orange);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Super Magic';
  height: 100px;
  border-bottom: 2px solid var(--dark-orange);
}

.logo {
  font-size: 4rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  font-family: 'Acme';
  margin: 20px;
  font-size: 1.75rem;
}

nav a {
  color: var(--dark-orange);
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border-radius: 25px;
  max-width: 100%;
  z-index: 40;
  position: relative;
}

section h2 {
  font-size: 2.5rem;
  width: 50vw;
  text-align: center;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  animation: explosion 1s linear 0s 1;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.banner h1 {
  position: absolute;
  z-index: 5;
  font-size: 4.25rem;
  rotate: -10deg;
  color: var(--light-orange);
  margin: 0 0 175px 0;
  text-shadow: 2px 2px 2px var();
}

.mug {
  z-index: 3;
  height: 50%;
  width: 40%;
}

.mugs-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  position: relative;
}

.mug-card {
  text-align: center;
  --border-color: var(--dark-orange);
  --border-width: 3px;
  padding: 3px;
  width: 50vw;
  height: 50vw;
}

#mugSlides {
  aspect-ratio: 16 / 10;
}

.submit-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.submit-form {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  border-radius: 10px;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
  width: 50vw;
  font-size: 2vw;
  z-index: 30;
  position: relative;
  background-color: var(--very-light-orange);
  box-shadow: 2px 1px 2px var(--dark-orange);
}

.rw-button-group {
  align-self: center;
}

.rw-button-group button {
  font-family: 'Super Magic';
  background-color: var(--main-blue);
  color: var(--dark-orange);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  margin: 20px;
  border-radius: 5px;
  background-color: var(--very-light-orange);
  border: 2px solid var(--dark-orange);
}

.image-input {
  border: none;
}

input::file-selector-button {
  background-color: var(--main-blue);
  border-radius: 10px;
  color: var(--dark-orange);
  font-family: 'Super Magic';
  border: 2px solid var(--dark-orange);
}
